.footer{
  background-color: rgb(109, 107, 107);
  padding: 25px;
  & > a{
    display: inline-block;
    color: #fff;
    background-color: black;
    padding: 20px;
    font-family: $font2;
    font-size: 15px;
    margin-bottom: 50px;
  }
  p{
    color: #fff;
    a{
      color: inherit;
      text-decoration: underline;
    }
  }
}